@model WebProgramlamaProje.Models.Category
@{
    /**/

    ViewBag.Title = "Kategori oluştur";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Kategori ekle</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal cols">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>


        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kategori ekle" class="btn btn-default" />
            </div>
        </div>
    </div>
}