@model WebProgramlamaProje.Models.Recipe
@{
    ViewBag.Title = "Yorum onayla";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .checkboxw {
        width: 20px;
    }
</style>
<div class="create-container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>Yorum Onayla</h3>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea class="text-area-400 form-control" disabled>@Model.Title</textarea>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FoodRecipe, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea class="text-area-400 form-control" disabled>@Model.FoodRecipe</textarea>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PreparationTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea class="text-area-400 form-control" disabled>@Model.PreparationTime</textarea>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PublishTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea class="text-area-400 form-control" disabled>@Model.PublishTime</textarea>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sil" class="btn btn-default" />
            </div>
        </div>
    </div>
    }
</div>




