@model WebProgramlamaProje.Models.Recipe
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Okul Düzenle</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal cols">


    <div class="form-group">
        @Html.LabelFor(model => model.Id, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <textarea class="text-area-400 form-control" disabled>@Model.Id</textarea>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Category.Name, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <textarea class="text-area-400 form-control" disabled>@Model.Category.Name</textarea>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <textarea class="text-area-400 form-control" disabled>@Model.Title</textarea>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.FoodRecipe, new { @class = "control-label col-md-2 pl-0" })
        <div class="col-md-10">
            <textarea class="text-area-400 form-control" disabled>@Model.FoodRecipe</textarea>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.AppUser.Name, new { @class = "control-label col-md-2 pl-0" })
        <div class="col-md-10">
            <textarea class="text-area-400 form-control" disabled>@Model.AppUser.Name</textarea>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href="/Admin/Recipes" class="btn btn-default">Listeye geri dön</a>

        </div>
    </div>
</div>
}

