
@model WebProgramlamaProje.Models.ViewModelSR
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    //Layout = "";
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">

    <title>Post Detayı</title>

    <!-- Bootstrap core CSS -->
    <link href="/BlogDesign/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/BlogDesign/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/BlogDesign/assets/css/templatemo-stand-blog.css">
    <link rel="stylesheet" href="/BlogDesign/assets/css/owl.css">

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="heading-page header-text">

    </div>



    <section class="blog-posts grid-system">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="all-blog-posts">
                        <div class="row">
                            <div class="col-lg-12">

                                <div class="blog-post">
                                    <div class="blog-thumb">
                                        <img src="~/login-form-14/images/yemek.jpg" alt="" width="250" height="270">
                                    </div>
                                    <div class="down-content">
                                        <span>@Model.Recipe.Category.Name</span>
                                        <a href="post-details.html"><h4>@Model.Recipe.Title</h4></a>
                                        <ul class="post-info">
                                            <li><a href="#">@Model.Recipe.AppUser.Name</a></li>
                                            <li><a href="#">@Model.Recipe.PublishTime</a></li>
                                            <li><a href="#">@Model.Recipe.Category</a></li>
                                        </ul>

                                        <p>
                                            @Model.Recipe.FoodRecipe
                                        </p>
                                        <div class="post-options">
                                            <div class="row">
                                                <div class="col-6">

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-item comments">
                                    <div class="sidebar-heading">
                                        <h2> @localizer["Yorumlar"]</h2>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            @if (Model.Recipe.Comments.Count > 0)
                                            {
                                                foreach (var yorum in Model.Recipe.Comments)
                                                {
                                                    <li>
                                                        
                                                        <div class="right-content">
                                                            <h4>@yorum.AppUser.Name @yorum.AppUser.Surname <span>@yorum.PublishTime</span></h4>
                                                            <p>@yorum.Text</p>
                                                        </div>
                                                    </li>
                                                }
                                            }
                                            else
                                            {
                                                <li>
                                                    <div class="right-content">
                                                        
                                                        <p>Henüz hiç yorum yapılmamış</p>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-item submit-comment">
                                    <div class="sidebar-heading">
                                        <h2>Yorum Yap</h2>
                                    </div>
                                    <div class="content">
                                        @if (SignInManager.IsSignedIn(User))
                                        {
                                            using (Html.BeginForm())
                                            {
                                                @Html.AntiForgeryToken()
                                                <form id="comment" action="#" method="post">
                                                    <div class="row">
                                                       
                                                        <div class="col-lg-12">
                                                            <fieldset>
                                                                @Html.TextArea("yorum", new { @class = "form-control bg-light" })
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <fieldset>

                                                                <input type="submit" value="Yorum ekle" class="btn btn-default" />
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </form>
                                            }
                                        }
                                        else
                                        {
                                            <p class="text-center">Yorum yapmak için giriş yapınız.<a href="/Identity/Account/Login">Giriş Yapmak için tıkla.</a></p>

                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-lg-4">
                    <div class="sidebar">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="sidebar-item search">
                                    <form id="search_form" name="gs" method="GET" action="#">
                                        <input type="text" name="q" class="searchText" placeholder="aramak için tıklayınız..." autocomplete="on">
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-item recent-posts">
                                    <div class="content">
                                        <ul>
                                            <li>
                                                <a href="/Blog/Create">
                                                    <h5>Tarif Yaz</h5>

                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-item categories">
                                    <div class="sidebar-heading">
                                        <h2>Kategoriler</h2>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            @foreach (var cat in Model.Categories)
                                            {
                                                <li><a href="/blog/list/@cat.Id">-@cat.Name</a></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Bootstrap core JavaScript -->
    <script src="/BlogDesign/vendor/jquery/jquery.min.js"></script>
    <script src="/BlogDesign/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="/BlogDesign/assets/js/custom.js"></script>
    <script src="/BlogDesign/assets/js/owl.js"></script>
    <script src="/BlogDesign/assets/js/slick.js"></script>
    <script src="/BlogDesign/assets/js/isotope.js"></script>
    <script src="/BlogDesign/assets/js/accordions.js"></script>


</body>

</html>

