@page
@model LoginModel

@{ ViewData["Title"] = "Log in"; }

<head>



    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/login-form-14/css/style.css">

</head>






<section class="ftco-section">
   
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Login #04</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="img" style="background-image: url(/login-form-14/images/yemek.jpg);">
                        </div>
                        <div class="login-wrap p-4 p-md-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4">Sign In</h3>
                                </div>
                                <div class="w-100">
                                    <p class="social-media d-flex justify-content-end">
                                        <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
                                        <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
                                    </p>
                                </div>
                            </div>
                            <form id="account" method="post">
                                <div class="form-group mb-3">
                                    @*<label class="label" for="name">Username</label>
                <input type="text" class="form-control" placeholder="Username" required>*@
                                    <label asp-for="Input.Email" class="label"></label>
                                    <input asp-for="Input.Email" type="text" class="form-control" placeholder="Username" required />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3">

                                    <label asp-for="Input.Password" class="label" for="password">Password</label>
                                    <input asp-for="Input.Password" type="password" class="form-control" placeholder="Password" required>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign In</button>
                                </div>
                                <div class="form-group d-md-flex">
                                    <div class="w-50 text-left">
                                        <label asp-for="Input.RememberMe" class="checkbox-wrap checkbox-primary mb-0">


                                            <input asp-for="Input.RememberMe" type="checkbox" checked>
                                            <span class="checkmark"></span>
                                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        </label>
                                    </div>
                                    <div class="w-50 text-md-right">
                                        <a asp-page="./Index" asp-route-returnUrl="@Model.ReturnUrl">Ana Sayfaya Dön</a>
                                    </div>

                                </div>
                            </form>
                            <p class="text-center">Not a member?  <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>
@*<div class="col-md-4">
        <section>

            <form id="account" method="post">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group col-md-6 col-sm-12">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 col-sm-12">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 col-sm-12">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>*@
<div class="col-md-6 col-md-offset-2">
    <section>
        <h4>Use another service to log in.</h4>
        <hr />
        @{ if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
<div>
    <p>
        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
        for details on setting up this ASP.NET application to support logging in via external services.
    </p>
</div> }
else
{
<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
    <div>
        <p>
            @foreach (var provider in Model.ExternalLogins)
            {
<button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>}
        </p>
    </div>
</form> } }
    </section>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/login-form-14/js/jquery.min.js"></script>
    <script src="~/login-form-14/js/popper.js"></script>
    <script src="~/login-form-14/js/bootstrap.min.js"></script>
    <script src="~/login-form-14/js/main.js"></script>
}