@page
@model RegisterModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{

    ViewData["Title"] = "Register";
}





<!doctype html>

<head>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/login-form-14/css/style.css">

</head>


<section class="ftco-section">

    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">
                    <div class="img" style="background-image: url(/login-form-14/images/yemek.jpg);">
                    </div>
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">@localizer["Kayıt Ol"]</h3>
                            </div>

                        </div>
                        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div class="form-group mb-3">

                                <label asp-for="Input.Name" class="label">@localizer["Ad"]</label>
                                <input asp-for="Input.Name" type="text" class="form-control" placeholder="@localizer["Ad"]" required />
                                <span asp-validation-for="Input.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">

                                <label asp-for="Input.Surname" class="label">@localizer["Soyad"]</label>
                                <input asp-for="Input.Surname" type="text" class="form-control" placeholder="@localizer["Soyad"]" required />
                                <span asp-validation-for="Input.Surname" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">

                                <label asp-for="Input.Email" class="label">Email</label>
                                <input asp-for="Input.Email" type="text" class="form-control" placeholder="Email" required />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">

                                <label asp-for="Input.Password" class="label" for="password">@localizer["Şifre"]</label>
                                <input asp-for="Input.Password" type="password" class="form-control" placeholder="@localizer["Şifre"]" required>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.ConfirmPassword" class="label">@localizer["Şifre"]</label>
                                <input asp-for="Input.ConfirmPassword" type="password" class="form-control" placeholder="@localizer["Şifre"]" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary rounded submit px-3">@localizer["Giriş Yap"]</button>
                            </div>
                            <div class="form-group d-md-flex">

                                <p class="text-center">@localizer["Zaten hesabın var mı?"] <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">@localizer["Giriş yapmak için tıkla."]</a></p>



                            </div>
                        </form>
                        <a asp-page="./Index" asp-route-returnUrl="@Model.ReturnUrl">@localizer["Ana Sayfaya Dön"]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
