@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<meta charset="utf-8">
<html lang="tr">
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
        {
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@localizer["Merhaba"] @User.Identity.Name!</a>
    </li>

            if (User.IsInRole("serverowner"))
            {
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Admin" asp-page="/Admin/Users" title="Manage">@localizer["Admin Paneli"]</a>
    </li>

            }
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link text-dark">@localizer["Çıkış Yap"]</button>
        </form>
    </li>
        }
        else
        {
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">@localizer["Kayıt Ol"]</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">@localizer["Giriş Yap"]</a>
    </li>
        }
</ul>
